# ===============================================
# UNIDOCS
# ===============================================

# 1. Java 
*.java linguist-language=Java

# 2.  JS/TS 
*.js linguist-detectable=true
*.ts linguist-detectable=true

#  CSS/HTML 
*.css linguist-vendored=true    
*.html linguist-vendored=true   

# other languages 
*.* linguist-detectable=true    # Fallback for other files

# 5. Exclude documentation folders from stats
docs/* linguist-documentation=true