<app-header></app-header> <!-- Header Component -->


<body>

    <br><br><br><br><br>

    
    <div class="contacts">
        <h1>Contacts</h1>
        <!--<p>Lets  Keep  in  Touch</p>--><br>
        <div class="contacts-info">
            <h2>Address</h2>
            <p>Zanzibar, Tanzania.</p>
            <h2>Phone</h2>
            <p>+255 621 060 107 </p>
            <h2>Email</h2>
            <p>yasynramah&#64;gmail.com</p>
        </div>
    </div>
 
    <br><br><br><br><br><br>


</body>



<app-footer></app-footer> <!-- Footer Component -->
