
<app-header></app-header> <!-- Header Component -->

<body>
  <br><br><br>
    <div class="create-account">
        <h1>Create Account</h1>
        <p>SUZA Connect - Interactive Learning Management System for State University Of Zanzibar</p>
      
        <div *ngIf="registrationSuccessful" class="success-message">
          User registered successfully! Redirecting to login page...
        </div>
      
        <form (ngSubmit)="onSubmit()" *ngIf="!registrationSuccessful">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="firstName" [(ngModel)]="user.firstName" required>
          </div>
          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="lastName" [(ngModel)]="user.lastName" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
          </div>
          <button type="submit" class="register-btn">Register Now</button>
          <p class="login-link">Already registered? <a routerLink="/login" class="login" style="cursor: pointer; text-decoration: none;">Login</a></p>
        </form>
      </div>
      
    <script src="scripts.js"></script>
</body>

<app-footer></app-footer> <!-- Footer Component -->

